@model IEnumerable<CFAStudentTracker.Models.ViewModels.ProcessingVM>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">List</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Status")
                </th>

                <th>
                    @Html.DisplayName("Type")
                </th>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("SSN")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.p.Record.FileType.TypeDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.p.Record.StudentFile.FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.p.Record.StudentFile.FileSSN)
                    </td>
                    <td>
                        @Html.ActionLink("Open", "../FileOpen/OpenAdmin", new { id = item.p.ProcID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.p.ProcID })
                    </td>
                </tr>
            }

        </table>
    </div>
    <!-- /.col-lg-12 -->
</div>
