@using Microsoft.AspNet.Identity

@{ 
    CFAStudentTracker.Models.CFAEntities db = new CFAStudentTracker.Models.CFAEntities();    

    if (User.Identity.IsAuthenticated)
    {
        ViewBag.IsSupervisor = db.User.Find(User.Identity.Name).IsSupervisor;        
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CFA Tracker</title>
    @Styles.Render("https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("https://cdn.jsdelivr.net/npm/flatpickr")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                @Html.ActionLink("CFA Tracker", "Index", "Home", null, htmlAttributes: new { @class = "navbar-brand" })
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                @Html.Partial("_LoginPartial")

            </ul>

            @Html.Partial("_TimerWidget")



            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            Search Student
                            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                            {
                                <div class="input-group custom-search-form">
                                    <input name="ssn" id="ssn" type="text" class="form-control" maxlength="11" placeholder="XXX-XX-XXXX" autofocus>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            }
                            <!-- /input-group -->
                        </li>
                        <li>
                            @Html.ActionLink("Add Student", "../Processings/Create", null, htmlAttributes: new { @class = "btn btn-danger" })

                        </li>
                        <li>

                            <a href="~/Home/Index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-database fa-fw"></i> Daily<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    @Html.ActionLink("Personal Queues", "../UserQueue/Index")
                                </li>
                                <li>
                                    @Html.ActionLink("Filing Cabinet", "../UserFilingCabinet/Index")
                                </li>
                                <li>
                                    @Html.ActionLink("Errors", "../UserErrorList/Index")
                                </li>
                                <li>
                                    @Html.ActionLink("Completed Files", "../CompletedFiles/Index")
                                </li>
                                <li>
                                    @Html.ActionLink("Hours", "../Hours/Index", new { user = @User.Identity.GetUserName() })
                                </li>
                                <li>
                                    @Html.ActionLink("Metric Progress Report", "../MetricProgressReport/Index")
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Management<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    @if (ViewBag.IsSupervisor != null && ViewBag.IsSupervisor)
                                    {
                                        <li>
                                            <a href="/TimeEntry/Index">
                                                Approve Time Entries <span id="unapproved-count" class="pull-right"></span>
                                            </a>
                                        </li>
                                    }
                                    <li class="">
                                        @Html.ActionLink("Team Management", "../Groups/Index")
                                    </li>
                                    <li class="">
                                        <a href="#">Reports<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level collapse" aria-expanded="false" style="height: 0px;">
                                            <li>
                                                @Html.ActionLink("Export Queues", "../Export/ExportQueues")
                                            </li>
                                            <li>
                                                @Html.ActionLink("Export Errors", "../Export/ExportErrors")
                                            </li>
                                        </ul>
                                        <!-- /.nav-third-level -->
                                    <li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-desktop fa-fw"></i> System<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li class="">
                                        <a href="#">System Management<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level collapse" aria-expanded="false" style="height: 0px;">
                                            <li>
                                                @Html.ActionLink("System Manager", "../SystemManagement/Index")
                                            </li>
                                            <li>
                                                @Html.ActionLink("File Types", "../FileTypes/Index")
                                            </li>
                                            <li>
                                                @Html.ActionLink("Error Types", "../ErrorTypes/Index")
                                            </li>
                                            <li>
                                                @Html.ActionLink("Error Complete Types", "../ErrorCompletes/Index")
                                            </li>
                                            <li>
                                                @Html.ActionLink("Time Entry Categories", "../TimeCategory/Index")
                                            </li>
                                        </ul>
                                        <!-- /.nav-third-level -->
                                    <li>

                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        }
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>

    </div>

    @Scripts.Render("~/bundles/bootstrap")    
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $('#ssn').keyup(function () {
            var val = this.value.replace(/\D/g, '');
            var newVal = '';
            var sizes = [3, 2, 4];

            for (var i in sizes) {
                if (val.length > sizes[i]) {
                    newVal += val.substr(0, sizes[i]) + '-';
                    val = val.substr(sizes[i]);
                }
                else break;
            }

            newVal += val;
            this.value = newVal;
        });

        if ('@ViewBag.IsSupervisor' === 'True') {
            axios.get('/TimeEntry/GetUnapprovedCount').then(response => {
                if (response.data.count > 0) {
                    var unapproved = document.getElementById('unapproved-count');
                    unapproved.classList.add('badge');
                    unapproved.innerText = response.data.count;
                }
            })
        }


    </script>
</body>
</html>
