@model CFAStudentTracker.Models.Queue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Queue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QueueDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueueDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Queue2.QueueDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Queue2.QueueDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QueueOrder.QueueOrderDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueueOrder.QueueOrderDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QueueID }) |
    <button type="button" class="btn btn-link" onclick="history.go(-1)">
        Back
    </button>
</p>
