@model CFAStudentTracker.Models.Queue

@{
    ViewBag.Title = "Index";
}

<h2>Members in Queue</h2>

<p>
    @Html.ActionLink("Add User", "Create", new { id = Model.QueueID})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("User")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.User) {
    <tr @(!item.IsActive ? "class=bg-danger title=Inactive": "")>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.ActionLink("Remove", "Delete", new { id = Model.QueueID, user = item.Username })
        </td>
    </tr>
}

</table>
