@model IEnumerable<CFAStudentTracker.Models.Group>

@{
    ViewBag.Title = "Queue Groups";
}

<h2>Queue Groups</h2>

<p>
    @Html.ActionLink("Create New Group", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Group Names
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.ActionLink("Open", "../Groups/OpenGroupManagement", new { id = item.GroupID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.GroupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroupID })
        </td>
    </tr>
}

</table>
